<section class="talks-list-component">
    <h1>List of prepared talks for your meetup/conference</h1>

    <p>
        All my talks are prepared, and done at least in one event. On every talk I always try to engage the audience,
        and bring a pratical value to the web development day-to-day work.
    </p>

    <p>
        Also I always encourage everyone to ask questions not only during the talks (for meetups), or by the end of the talk
        on biggest conferences.
    </p>

    <p>
        I preffer to have hands free (with a <span style="color:red;">lapel</span> microphone, as on every talk I have
        to use laptop for live coding / live examples of the subject I am talking about.
    </p>

    <button class="btn btn-primary" [routerLink]="['/talks/invite-me']">Invite me to speak >></button>

    <h2>Current talks</h2>
    <div class="talk-box">
        <h3>“Yes, you can use Web components in production!"</h3>

        <p>
            How to keep the application well structured and organised to start developing Web Components?<br>
            How to implement quickly the 4 web components specifications:
        </p>

        <ul>
            <li>Custom elements;</li>
            <li>HTML Imports;</li>
            <li>Templates;</li>
            <li>Shadow DOM.</li>
        </ul>

        <p>Finally David will share how to use web components right now in Production.</p>
    </div>

    <div class="talk-box">
        <h3>“Progressive Web Apps - an introduction to a game changer”</h3>
        <p>
            Progressive Web Apps are experiences that combine the best of the web and the best of apps.
            They are useful to users from the very first visit in a browser tab, no install required.
            As the user progressively builds a relationship with the App over time, it becomes more and more powerful.
            It loads quickly, even on flaky networks, sends relevant push notifications,
            has an icon on the home screen and loads as a top-level, full screen experience.
        </p>
    </div>

    <div class="talk-box">
        <h3>“Quickly prototype Full-Stack Web apps with JS only”</h3>
        <p>
            On a world where creating startups is getting high popularity, web developers find a certain difficulty
            to quick prototype a web app from the database, server and fronted.<br>
            In this live coding session will be shown how to do it quickly using the full-stack Javascript.
            The tech stack for this talk is Node.JS, Restify, Angular and MongoDB
        </p>
    </div>

    <div class="talk-box">
        <h3>“Ionize your web app - build hybrid apps with Typescript”</h3>
        <p>
            Free and open source, Ionic 2 offers a library of mobile-optimized HTML, CSS and Typescript components and
            tools for building highly interactive native and progressive web apps.<br>
            Built with Sass, optimised for Angular 2, Ionic 2 is modeled off of standard native mobile development SDKs,
            bringing the UI standards of native apps together with the full power and flexibility of the open web.<br>
            Ionic runs inside Cordova or Phonegap to deploy natively, or as a Progressive Web App.<br>
            Develop once, deploy everywhere.
        </p>
    </div>

    <button class="btn btn-primary" [routerLink]="['/talks/invite-me']">Invite me to speak >></button>

    <h2>Past talks (not speaking anymore)</h2>

    <div class="talk-box">
        <h3>“Quickly prototype Web apps with MEAN.js”</h3>
        <p>
            This talk was replaced by the <strong>“Quickly prototype Full-Stack Web apps with JS only”</strong>.
        </p>

        <p>
            <strong>Reason: </strong>Angular 2 is out, Express.js is no longer being maintaned, and the entire MEAN stack is getting outdated.
        </p>
    </div>

    <div class="talk-box">
        <h3>“Ionize your web app - build hybrid apps”</h3>
        <p>
            This talk was replaced by the <strong>“Ionize your web app - build hybrid apps with Typescript”</strong>.
        </p>

        <p>
            <strong>Reason: </strong> Ionic 1 will no longer have major updates, and Ionic 2 is out and getting plenty of attention.
        </p>
    </div>

    <button class="btn btn-primary" [routerLink]="['/talks/invite-me']">Invite me to speak >></button>

</section>
