<section class="talks-component">
    <h1>Web Development talks</h1>

    <div>
        <button class="btn btn-primary" [routerLink]="['/talks/list']">Check out my talks >></button>

        <h2>Why do I like to speak?</h2>
        <p>
            During school time (2006-2009), my colleagues and I used to organise meetups among the IT classes.
            That allowed me to develop speaking capabilities and to gain the taste of sharing knowledge.
        </p>

        <p>
            I have been improving my speaking skills, and specially in 2016 I am really focused on that.
            It has not being easy, as I have my work as a Frontend Consultant @ <a href="http://www.nondutch.nl/" target="_blank">NonDutch</a>
            but also my two startups (<a href="https://www.accessart.co/" target="_blank">accessART</a> and
            <a href="https://www.sixtyme.com/" target="_blank">SixtyMe</a>).
        </p>

        <p>
            So finding time, is really hard. However, I must get up-to-dated with all the trends and developments about the Web world.
            That's quite a challenge as everything is moving so fast. A way to motivate myself to learn something, is the willingness to
            share with others. So that's my passion, and also the way I keep myself update.
        </p>

        <p>
            As I mentioned above, 2016 a game-changer for me, since I started to work @ <a href="http://www.nondutch.nl/" target="_blank">NonDutch</a>.
        </p>

        <p>
            Besides is a great company to work on (<i>yes, we are hiring Non-Dutch frontend developers</i>), the company is also willing to support me
            to achieve this goal. So they facilitate to have free days to speak on meetups, conferences or internal training sessions.
        </p>

        <button class="btn btn-primary" [routerLink]="['/talks/list']">Check out my talks >></button>

        <h2>Speaking at Meetups</h2>

        <p>
            As I mentioned above, I was organising meetups at my school back in the days.
            More reccently, I was involved on the organisation of the
            <a href="https://www.meetup.com/..." target="_blank">NonDutch Frontend Meetup</a> which I spoke on the first edition about
            <b>"Yes, you can use Web Components in Prodution"</b>. This was in August 2016. Video is available here.
            <span style="color: red;">#!#!#!#!#!#!#!#!</span>
        </p>

        <p>
            The month after, I had the privilege to get invited for a Meetup outside of the Netherlands.
            I got into the <a href="https://gdansk.rollingscopes.com/" target="_blank">The Rolling Scopes: Gdansk, Poland</a> on September 2016.
            On that Meetup, I also spoke about <b>Web Components</b>. Photos and testimonials are available here.
            <span style="color: red;">#!#!#!#!#!#!#!#!</span>
        </p>

        <h2>Speaking in conferences</h2>

        <p>
            Conferences sounds intimidating: they are great in audience, and the approach is totally different.
            So far I spoke on the following conferences:
        </p>

        <ul class="confs-list">
            <li><a href="http://cherrypick.nei-isep.org/" target="_blank">Cherry-Pick 2016</a> (Porto, Portugal): "Quicly Prototype Web Apps using MEAN.js"</li>
            <li><a href="http://mo.dev.by/english">Mobile Optimized 2016</a> (Minsk, Belarus): "Ionize your Web App"</li>
            <li><a href="http://pixels.camp">Pixels Camp 2016</a> (Lisbon, Portugal): "Prototype Web Apps using MEAN.js"</li>
            <li><a [routerLink]="['/talks/invite-me']">Your Conference</a>: Invite me to speak on your conference</li>
        </ul>


        <button class="btn btn-primary" [routerLink]="['/talks/list']">Check out my talks >></button>
    </div>

</section>
