<footer>
    <div class="about-me">
        <h3>David Ferreira</h3>
        <p>
            I ❤️ Web<br>
            <small>dferreira.eu</small>
        </p>
    </div>

    <div class="links">
        <ul>
            <li><a href="https://www.facebook.com/daminufe" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com/daminufe" target="_blank">Twitter</a></li>
            <li><a href="https://nl.linkedin.com/in/daminufe" target="_blank">LinkedIn</a></li>
            <li><a href="https://www.medium.com/@daminufe" target="_blank">Medium</a></li>
        </ul>
    </div>

    <div class="copyright">
        ~ DFerreira.eu © All right reserved ~ 2006 - {{ thisYear }} ~
    </div>
</footer>
